div(class="row")
    div(class="col-md-12")
        form(class="form" role="form" id="login-nav", [formGroup]="loginFormGroup")
            div(class="form-group")
                label(class="sr-only" for="login-name") Email address
                input(type="text" class="form-control" id="login-name" placeholder="Name", [formControlName]="'name'" required)
            div(class="form-group")
                label(class="sr-only" for="login-password") Password
                input(type="password" class="form-control" id="login-password" placeholder="Password", [formControlName]="'password'" required)
            div(class="help-block text-right")
                a Forget the password ?
            div(class="form-group")
                button(type="submit" class="btn btn-primary btn-block") Sign in
            div(class="checkbox")
                label
                    input(type="checkbox")
                    | keep me logged-in

    div(class="bottom text-center") New here ?
        a
            b Join Us
