div(class="container-fluid")
    form
        div(class="form-group")
            label(for="name") Name
            input(id="name", type="text", class="form-control", placeholder="Name")
        button Save
